* {
    margin: 10px auto;
    /*  background-color: rgb(228, 249, 252); */
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 18px;
}

#root {
    margin: auto;
    text-align: center;
    place-items: center;
}

.display-wrapper * {
    place-items: center;
}

/* .choice-buttons {
    background-color: rgb(4, 140, 158);
} */

.wrapper {
    margin: 0 auto;
    padding: 20px 0 40px 0;
    width: 760px;
    height: 100%;
    border-radius: 0.5rem;
    background-color: rgb(4, 140, 158);
    place-items: center;
}

h1 {
    font-size: 50px;
    color: white;
    margin: auto;
    /* background-color: rgb(4, 140, 158); */
}

.choice-buttons {
    place-items: center;
}

/* .arrow-buttons {
    background-color: rgb(4, 140, 158);
} */

@media only screen and (max-width: 760px) {
    * {
        margin: 0 auto;
        /* background-color: rgb(4, 140, 158); */
        font-size: 18px;
    }

    .wrapper {
        padding: 3rem 0 2rem 0;
        margin: 0 auto;
        width: 440px;
        height: end;
        place-items: center;
    }

    h1 {
        font-size: 40px;
        /* color: white; */
        /* background-color: rgb(4, 140, 158); */
    }

    /*  .choice-buttons {
        place-items: center; 
        width: auto;
        height: auto; 
    } */

    /*  .arrow-buttons {
        background-color: rgb(4, 140, 158);
    } */
}
