.weather-card-wrapper {
    width: 450px;
    height: 100px;
}

.weather-card-background * {
    background-color: rgb(149, 204, 211) !important;
}

.weather-card {
    margin: 10px auto;
    padding: 1rem;
    width: 400px;
    height: 70px;
    background-color: rgb(149, 204, 211);
    color: white;
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
}

.weather-card-grid {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.weather-card-city {
    grid-column: 1;
    font-size: 20px;
    display: flex;
}

.weather-card-temperature {
    grid-column: 2;
    font-size: 30px;
    display: flex;
}

.weather-card-fav-button:hover {
    transform: scale(1.3);
    transition: transform 0.4s ease-in-out;
    opacity: 40%;
}

@media only screen and (max-width: 760px) {
    .weather-card-wrapper {
        width: 310px;
        height: 4.5rem;
    }

    .weather-card-background * {
        background-color: rgb(149, 204, 211) !important;
    }

    .weather-card {
        margin: 0.5rem auto; /*10px*/
        padding: 0 0.5rem 0 0.5rem; /*15/rem*/
        width: 16rem; /*400px*/
        background-color: rgb(149, 204, 211);
        color: white;
        border-radius: 0.3rem; /*0.4rem*/
        display: flex;
        justify-content: center;
    }

    .weather-card-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        width: 300px;
    }

    .weather-card-temperature {
        grid-column: 3;
        font-size: 20px;
    }

    .weather-card-city {
        grid-column: 1;
        font-size: 20px;
    }
}
