.detailed-forecast {
    place-items: center;
    display: grid;
}

.detailed-forecast-card {
    width: 22.7rem;
    margin-bottom: 0;
}

.detailed-forecast-time {
    text-align: center;
    margin-bottom: 5px;
    color: white;
}

.back-button {
    /* position on left side*/
    margin-right: 35rem;
}

.back-button:hover {
    cursor: pointer;
    opacity: 60%;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 760px) {
    .back-button {
        margin-right: 35rem;
        margin-left: 1.5rem;
    }
}
