.extended-weather-card-wrapper {
    width: auto;
    justify-content: center !important;
}

.extended-weather-card-background * {
    background-color: rgb(149, 204, 211) !important;
}

.extended-weather-card {
    margin: 10px;
    margin-top: 1px;
    padding: 15px;
    width: 20rem;
    height: 5.5rem;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.extended-weather-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    width: 2450px;
}

.extended-weather-card-temperature {
    grid-column: 1;
    font-size: 40px;
    margin: 5px;
    margin-left: 0px;
}

.extended-weather-card-icon {
    grid-column: 2;
    margin: 5px;
}

@media only screen and (max-width: 760px) {
    .extended-weather-card-wrapper {
        width: auto;
    }

    .extended-weather-card {
        margin: 0.4rem;
        margin-left: 1.8rem;
        padding: 0.5rem;
        width: 18rem;
        height: 5rem;
    }

    .extended-weather-card-grid {
        display: flex;
        justify-content: center;
        gap: 4rem;
    }

    .extended-weather-card-temperature {
        font-size: 1.5rem;
    }

    .extended-weather-card-icon {
        grid-column: 1;
        margin: 5px;
    }
}
