.display-wrapper {
    background-color: rgb(4, 140, 158);
}

.display-background {
    background-color: rgb(4, 140, 158);
    place-items: center;
    display: grid;
}

.choice-buttons {
    display: flex;
}

.view-button {
    width: 200px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    margin-top: 1.5rem;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.view-button:hover {
    background-color: #e1e1e1;
    border: 1px solid #fff;
    color: #000;
}

@media only screen and (max-width: 760px) {
    .display-wrapper {
        background-color: rgb(4, 140, 158);
        width: auto;
        height: auto;
    }

    .display-background {
        background-color: rgb(4, 140, 158);
        place-items: center;
        display: grid;
        width: auto;
        height: auto;
    }

    .choice-buttons {
        display: flex;
        width: auto;
        height: auto;
    }
}

h2 {
    height: 300px;
    font-size: 2.5rem;
    font-weight: 300;
    margin: auto;
    margin-bottom: 1rem;
    padding-top: 140px;
    background-color: rgb(4, 140, 158);
    color: white;
}
