.weather-card-large-wrapper {
    width: auto;
}

.weather-card-large-background * {
    background-color: rgb(149, 204, 211);
}

.weather-card-large {
    margin: 10px;
    margin-top: 1px;
    padding: 15px;
    width: 425px;
    height: 250px;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}

.weather-card-large-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    gap: 10px;
    align-items: center;
    width: 400px;
}
.weather-card-large-city {
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 50px;
    margin-left: 20px;
}
.weather-card-large-temperature {
    grid-row: 2;
    grid-column: 1 / span 2;
    font-size: 60px;
    margin: 5px;
    /* margin-left: 20px; */
}

.weather-card-large-icon {
    grid-row: 2;
    grid-column: 3 / span 2;
    margin: 5px;
}
.weather-card-large-fav-button {
    grid-row: 1;
    grid-column: 4;
    margin-right: 10px;
}

.weather-card-large-fav-button:hover {
    transform: scale(1.3);
    transition: transform 0.4s ease-in-out;
    opacity: 40%;
}

@media only screen and (max-width: 760px) {
    .weather-card-large-wrapper {
        width: auto;
    }

    .weather-card-large-background * {
        background-color: rgb(149, 204, 211);
    }

    .weather-card-large {
        margin: 10px;
        padding: 15px;
        width: 200px;
        height: 250px;
        color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .weather-card-large-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2px;
        align-items: center;
        width: 170px;
        height: 225px;
    }
    .weather-card-large-city {
        grid-row: 1;
        grid-column: 1 / span 2;
        font-size: 25px;
        margin-left: auto;
    }
    .weather-card-large-temperature {
        grid-row: 2;
        font-size: 30px;
    }

    .weather-card-large-icon {
        grid-column: 1;
        grid-row: 3;
        margin: 5px;
    }
    .weather-card-large-fav-button {
        grid-column: 2;
        grid-row: 3;
        margin-right: 10px;
    }
}
